[user]
    name = Michael Kohler
    email = me@michaelkohler.info
    signingkey = B4831E2E85D4EB1A81BB83D9083291B032073D6C
[core]
    whitespace = cr-at-eol
[gpg]
    program = /usr/local/bin/gpg
[diff]
    algorithm = patience
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    last = log -1 HEAD
    puma = pull origin master
    st = status
    co = commit -m
    fe = fetch
    me = merge
    adda = add --all
    unstage = reset HEAD --
    filelog = log -u
    findfile = "!git ls-files | grep -i"
    grep = grep -Ii
    listalias = "!git config -l | grep alias | cut -c 7-"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
