[user]
    name = Michael Kohler
    email = mkohler@picobudget.com
[core]
    whitespace = cr-at-eol
[diff]
    algorithm = patience
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    puma = pull origin master
    st = status
    co = commit -m 
    fe = fetch
    me = merge
    adda = add --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
