[user]
    name = Michael Kohler
    email = mkohler@picobudget.com
[core]
    whitespace = cr-at-eol
[diff]
    algorithm = patience
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    last = log -1 HEAD
    puma = pull origin master
    st = status
    co = commit -m 
    fe = fetch
    me = merge
    adda = add --all
    unstage = reset HEAD --
    filelog = log -u
    findfile = "!git ls-files | grep -i"
    grep = grep -Ii
    listalias = "!git config -l | grep alias | cut -c 7-"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[bz]
	apikey = IpPNRLTyLGKDh4OhkBQqRca34R6H9688txdN7vAp
	username = me@michaelkohler.info
