"*":
  "atom-beautify":
    css:
      indent_size: 2
      newline_between_rules: true
    general:
      _analyticsUserId: "8f626438-5d4c-48c3-bed9-b311015abec2"
    html:
      indent_size: 2
    js:
      indent_size: 2
  core:
    disabledPackages: [
      "atom-dxr-search"
    ]
    packagesWithKeymapsDisabled: []
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "8dc1d36d-cdd5-e9b0-c240-37ca6a3d638f"
  "linter-jshint": {}
  pigments:
    sortPaletteColors: "by color"
  react: {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
