"*":
  "exception-reporting":
    userId: "8dc1d36d-cdd5-e9b0-c240-37ca6a3d638f"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontSize: 11
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    scrollPastEnd: true
    tabType: "soft"
    tabLength: 1
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
